@model ProductManager.Enity.Category

<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Category</legend>

            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Description)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>

            <p>
                <input type="submit" value="Save changes" />
            </p>
        </fieldset>
    }   
</div>

<ul>
    @if (Model.SubCategories != null)
    {
        foreach (var subcat in Model.SubCategories)
        {
            <li>@subcat.Id  ------ @subcat.Name </li>
        }

    }


</ul>




<p>
    @Html.ActionLink("Create a SubCategory", "Create", "SubCategory", new { categoryId = Model.Id },null)
</p>


<p>
    @Html.ActionLink("Back to List", "Index")
</p>
