@model ProductManager.Web.Factories.CategoryDetailsViewModel

<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Category</legend>

            <div class="editor-label">
                @Html.LabelFor(model => model.Category.Name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Category.Name)
                @Html.ValidationMessageFor(model => model.Category.Name)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Category.Description)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Category.Description)
                @Html.ValidationMessageFor(model => model.Category.Description)
            </div>
            
            @Html.HiddenFor(model=>model.Category.Id)
            <p>
                <input type="submit" value="Save changes" />
            </p>
        </fieldset>
       
    }   
</div>

<ul>
    @if (Model.SubCategories != null)
    {
        foreach (var subcat in Model.SubCategories)
        {
            <li>
                @subcat.Id  ------ @subcat.Name
                @Html.ActionLink(" view details", "Detail", "SubCategory", new { categoryId = Model.Category.Id, subCategoryId = subcat.Id }, null)
                <br/>
                @Html.ActionLink(" delete me", "Delete", "SubCategory", new { subCategoryId = subcat.Id }, null)
            </li>
        }

    }


</ul>




<p>
    @Html.ActionLink("Create a SubCategory", "Create", "SubCategory", new { categoryId = Model.Category.Id },null)
</p>


<p>
    @Html.ActionLink("Back to List", "Index")
</p>
