@model ProductManager.Web.Factories.CategoryDetailsViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>@Model.Category.Name Overview</h2>


<section ng-controller="CategoryController">

    <section>
        <section class="row">
            <p class="col-md-12">
                @Html.ActionLink("Create a SubCategory", "Create", "SubCategory", new { categoryId = Model.Category.Id }, new { @class = "btn btn-primary" })
                <button type="button" class="btn btn-primary" ng-click="AllowEdit()">{{AllowButtonText}}</button>
            </p>
        </section>

    </section>



    @if (Model.SubCategories != null)
    {
        <section class="row">
            <section class="col-md-12">
                <accordion close-others="oneAtATime">
                    @foreach (var subCategory in Model.SubCategories)
                    {
                        <accordion-group heading="@subCategory.Name" data-is-open="true">
                            <section>@Html.ActionLink(" view details", "Detail", "SubCategory", new { categoryId = Model.Category.Id, subCategoryId = subCategory.Id }, new { @class = "btn btn-info" }) </section>
                            <section>@Html.ActionLink("Edit ", "Edit", "SubCategory", new { subCategoryId = subCategory.Id }, new { @class = "btn btn-info" }) </section>

                            <section ng-show=showEdit> @Html.ActionLink(" delete me", "Delete", "SubCategory", new { subCategoryId = subCategory.Id }, new { @class = "btn btn-danger" }) </section>

                            @if (subCategory.Products.Any())
                            {
                                foreach (var product in subCategory.Products)
                                {

                                    <ul>
                                        <li> @product.Id - @product.Name </li>
                                    </ul>

                                }

                            }
                        </accordion-group>
                    }
                </accordion>
            </section>
        </section>
    }


</section>




<p>
    @Html.ActionLink("Back to List", "Index")
</p>
