@model IEnumerable<ProductManager.Web.ViewModels.ProductCatagoryViewModel>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Index";
}

<h2>Product Categories over view</h2>

<section ng-app="LeiApp">

    <section ng-controller="CategoryController">
        <section class="row">
            <p class="col-md-12"><button type="button" class="btn btn-primary" ng-click="AllowEdit()">{{AllowButtonText}}</button></p>
        </section>
        <section class="row">
            <section class="col-md-12">
                <accordion close-others="oneAtATime">

                    @foreach (var category in Model)
                    {
                        <accordion-group heading="@category.CategoryName">
                            <p ng-show=showEdit>@Html.ActionLink("Delete", "Delete", "Category", new { categoryId = category.CategoryId }, null) </p>
                            <p ng-show=showEdit>@Html.ActionLink("Details", "Details", "Category", new { id= category.CategoryId }, null) </p>
                            @if (category.SubCategories.Any())
                            {
                                <ul>
                                    @foreach (var subcategory in category.SubCategories)
                                    {
                                        <li>@subcategory.Name ---- @subcategory.Description </li>
                                    }
                                </ul>
                            }

                        </accordion-group>
                    }

                </accordion>

            </section>

        </section>


    </section>



</section>



<ul>

    @foreach (var category in Model)
    {

        <li>
            <div>
                @Html.ActionLink(category.CategoryName + "-" + category.CategoryDescription,
             "Details", "Category", new { id = category.CategoryId }, null)

                <div>@Html.ActionLink("Delete", "Delete", "Category", new { categoryId = category.CategoryId }, null) </div>
            </div>
            @if (category.SubCategories.Any())
            {
                <ol>
                    @foreach (var subCategory in category.SubCategories)
                    {
                        <li>
                            <div>@subCategory.Name</div>
                            @if (subCategory.Products.Any())
                            {
                                <ol>
                                    @foreach (var product in subCategory.Products)
                                    {
                                        <li> @product.Name </li>
                                    }
                                </ol>
                            }


                        </li>
                    }
                </ol>
            }

        </li>

    }




</ul>


<section>
    @Html.ActionLink("Create a category", "Create", "Category")
</section>



<script src="~/Scripts/Angular/LeiApp/LeiApp.js"></script>
<script src="~/Scripts/Angular/LeiApp/Controllers/CategoryController.js"></script>