@model IEnumerable<ProductManager.Web.ViewModels.ProductCatagoryViewModel>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Index";
}

<h2>Product Categories over view</h2>

<h3>Hello @ViewData["CurrentUser"] </h3>

<section>
    <section ng-controller="CategoryController">
        <section class="row">
            <p class="col-md-12">
                @Html.ActionLink("Create a category", "Create", "Category", new { @class = "btn btn-primary" })
                <button type="button" class="btn btn-primary" ng-click="AllowEdit()">{{AllowButtonText}}</button>
            </p>
        </section>
        <section class="row">
            <section class="col-md-12">
                <accordion close-others="oneAtATime">

                    @foreach (var category in Model)
                    {
                        <accordion-group heading="@category.CategoryName">
                            <p ng-show=showEdit>@Html.ActionLink("Delete", "Delete", "Category", new { categoryId = category.CategoryId }, new { @class = "btn btn-danger" }) </p>
                            <p>@Html.ActionLink("Details", "Details", "Category", new { id = category.CategoryId }, new { @class = "btn btn-info" }) </p>
                            <p>@Html.ActionLink("Edit", "Edit", "Category", new { id = category.CategoryId }, new { @class = "btn btn-info" }) </p>
                            @if (category.SubCategories.Any())
                            {
                                <ul>
                                    @foreach (var subcategory in category.SubCategories)
                                    {
                                        <li>@subcategory.Name ---- @subcategory.Description </li>
                                    }
                                </ul>
                            }

                        </accordion-group>
                    }

                </accordion>
            </section>
        </section>
    </section>
</section>









