<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title PO Manager</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://bazalt-cms.com/assets/ng-table/0.3.1/ng-table.css" />

    

    @*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-resource.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
    <script src="~/Scripts/Angular/Lib/Services/CallService.js"></script>
    <script src="http://bazalt-cms.com/assets/ng-table/0.3.1/ng-table.js"></script>*@

</head>
<body>
    @RenderBody()

    <footer class="row">
        <hr />
        <section class="col-md-12">
            <span>&copy; @DateTime.Now.Year - Arietta Consulting</span>
        </section>
    </footer>
    
    
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angularRoute")
    @Scripts.Render("~/bundles/angularResource")
    @Scripts.Render("~/bundles/bootstrapUi")
    @Scripts.Render("~/bundles/angularLib")
    @Scripts.Render("~/bundles/angularTable")

    @RenderSection("scripts", required: false)




</body>
</html>
