@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row">
    <nav class="navbar navbar-inverse col-md-12 ">
        <section class="container">
            <section class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("PO Manager", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </section>
            <section class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Order", "Index", "Orders")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </section>
        </section>
    </nav>

</section>



<div class="container body-content" ng-app="WorkerApp" ng-cloak>
    @RenderBody()


    @section scripts{
        <script src="~/Scripts/Angular/WorkerApp/WorkerApp.js"></script>
        <script src="~/Scripts/Angular/WorkerApp/Controllers/OrderController.js"></script>
        <script src="~/Scripts/Angular/WorkerApp/Directives/ProductSelectDirective/ProductSelectDirective.js"></script>
        <script src="~/Scripts/Angular/WorkerApp/Directives/SwitchDirective/SwitchDirective.js"></script>

        @RenderSection("scripts", required: false)
    }
</div>