
<section class="row">
    <section class="col-md-12">
        <section class="btn-group btn-group-justified" role="group" aria-label="...">
            <section class="btn-group" role="group">
                @Html.ActionLink("Product Types", "Index", "ProductTypes", null, new { @class = "btn btn-info" })
            </section>
            <section class="btn-group" role="group">
                @Html.ActionLink("Addons", "Index", "Addons", null, new { @class = "btn btn-info" })
            </section>
            <section class="btn-group" role="group">
                @Html.ActionLink("Price Plan", "Index", "Priceplan", null, new { @class = "btn btn-info" })
            </section>
            <section class="btn-group" role="group">
                @Html.ActionLink("Company Profile", "Edit", "CustomerProfile", null, new { @class = "btn btn-info" })
            </section>
            <section class="btn-group" role="group">
                @Html.ActionLink("Change Password", "Manage", "Account", null, new { @class = "btn btn-info" })
            </section>
        </section>
    </section>
</section>