@model ProductManager.Enity.ProductType

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminConfig.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ProductTypeId</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
        
        
        <dt>
            @Html.DisplayNameFor(model => model.PriceCalculationType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceCalculationType)
        </dd>

    </dl>
</div>


<ul>
    @foreach (var addOn in Model.AddOns)
    {
       <li> @addOn.Name   :    @addOn.Price </li>
    }

</ul>



<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
