@model ProductManager.Enity.ProductType

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminConfig.cshtml";
}

<h2>Product Type Details</h2>
<hr />


<section class="row">
    <section class="col-sm-5">
        <table class="table table-bordered">
            <tr>
                <td class="active">
                    @Html.DisplayNameFor(model => model.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Name)
                </td>
            </tr>
            <tr>
                <td class="active">
                    @Html.DisplayNameFor(model => model.Description)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Description)
                </td>
            </tr>

            <tr>
                <td class="active">
                    @Html.DisplayNameFor(model => model.PriceCalculationType)
                </td>
                <td>
                    @Html.DisplayFor(model => model.PriceCalculationType)
                </td>
            </tr>
        </table>

    </section>

</section>



<h3>Add-ons</h3>
<hr />

<section class="row">
    <section class="col-sm-3">
        <table class="table table-bordered">
            @foreach (var addOn in Model.AddOns)
            {
                <tr>
                    <td class="active">
                        @addOn.Name
                    </td>
                    <td>
                        @addOn.Price
                    </td>
                </tr>
            }

        </table>
    </section>
</section>


