@model ProductManager.Web.ViewModels.OrderDetailsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

    </dl>
</div>

@Html.ActionLink("Edit", "Edit", new { id = @Model.Id })

@Html.Action("Index", new { OrderId = @Model.Id, controller = "OrderLines" })

<p>
    |
    @Html.ActionLink("Back to List", "Index")
</p>
