@model ProductManager.Web.ViewModels.OrderDetailsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<accordion close-others="oneAtATime">
    <accordion-group heading="Buyer information" is-open="true" is-disabled="status.isFirstDisabled">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Author)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Author)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.BuyerName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BuyerName)
                </dd>
            </dl>
        </div>

        @Html.ActionLink("Edit", "Edit", new { id = @Model.Id })
    </accordion-group>
    <accordion-group heading="Order lines">
        @Html.Action("Index", new { OrderId = @Model.Id, controller = "OrderLines" })
    </accordion-group>
</accordion>
<p>
    |
    @Html.ActionLink("Back to List", "Index")
</p>
