@model IEnumerable<ProductManager.Enity.AddOn>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>All Addons</h2>


<section class="row">
    <section class="col-md-12">
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
    </section>
</section>


<table class="table">
    <tr>
        <th>Product Type</th>
        
        <th>Product Type Description</th>
        <th>Name</th>
        <th>Price</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.ProductType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductType.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-info" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
